<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://sofifa.com/launcher-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/styles.css">
    <title>SoFifa | FIFA 21</title>
</head>
<body>
    <header>
        <div class="nav1">
            <div class="container">
                <div class="subnav1">
                    <div class="subnav1-2">
                        <a href="/"><img src="/img/logo.webp" style="height: 30px;margin-right: 15px ;"></a>
                        <a href="#" class="tab">Players</a>
                        <a href="#" class="tab">teams</a>
                        <a href="#" class="tab">squads</a>
                        <a href="#" class="tab">shortlists</a>
                        <a href="#" class="tab">discussions</a>
                    </div>
                    <div class="useraccion"><a href="/panel">Panel</a></div>
                </div>
            </div>
        </div>
        <div class="nav2">
            <div class="container">
                <div class="subnav2">
                    <h2>Players</h2>
                    <div class="subnav2-1">
                        <div class="dropdown">fifa 21</div>
                        <div class="dropdown">april 13, 2021</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav3">
            <div class="container">
                <div class="subnav3">
                    <div class="subnav3-1">
                        <a href="" class="tab">All</a>
                        <a href="" class="tab">Added</a>
                        <a href="" class="tab">Updated</a>
                        <a href="" class="tab">Free</a>
                        <a href="" class="tab">On Loan</a>
                        <a href="" class="tab">Removed</a>
                        <a href="" class="tab">Customized</a>
                        <a href="" class="tab">Create Player</a>
                        <a href="" class="tab">Calculator</a>
                    </div>
                    <div class="search">
                        <input type="search" placeholder="Search player...">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="container">
            <div class="mainwrapp">
                <div class="aside">
                    <form action="">
                        <div class="card">
                            <h4 class="asideTitle">SEARCH</h4>
                                <select>
                                    <option value="">Added Players</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                </select>
                                <select>
                                    <option value="">Continents</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                </select>
                                <select>
                                    <option value="">Nationality/Region</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                </select>
                                <select>
                                    <option value="">Leagues</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                </select>
                                <select>
                                    <option value="">Teams</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                </select>
                            
                            <div class="cols">
                                <div class="c60">
                                    Age
                                </div>
                                <div class="c20 middle-margin">
                                    <input type="num" placeholder="15">
                                </div>
                                <div class="c20">
                                    <input type="num" placeholder="45">
                                </div>
                            </div>
                            <div class="cols">
                                <div class="c60">
                                    Overal Rating
                                </div>
                                <div class="c20 middle-margin">
                                    <input type="num" placeholder="0">
                                </div>
                                <div class="c20">
                                    <input type="num" placeholder="99">
                                </div>
                            </div>
                            <div class="cols">
                                <div class="c60">
                                    Potential
                                </div>
                                <div class="c20 middle-margin">
                                    <input type="num" placeholder="0">
                                </div>
                                <div class="c20">
                                    <input type="num" placeholder="99">
                                </div>
                            </div>
                            <select>
                                <option value="">Position</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                            </select>
                            <select>
                                <option value="">Preferred Foot</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                            </select>
                            <select>
                                <option value="">Weak Foot</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                            </select>
                            <select>
                                <option value="">Skills Moves</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                            </select>
                            
                            <div class="cols">
                                <div class="c30">Height</div>
                                <div class="c35 middle-margin">
                                    <select>
                                        <option value="">Min</option>
                                        <option value="">2</option>
                                        <option value="">2</option>
                                        <option value="">2</option>
                                    </select>
                                </div>
                                <div class="c35">
                                    <select>
                                        <option value="">Max</option>
                                        <option value="">2</option>
                                        <option value="">2</option>
                                        <option value="">2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="cols">
                                <div class="c30">Weight</div>
                                <div class="c35 middle-margin">
                                    <input type="text" placeholder="110 Lbs">
                                </div>
                                <div class="c35">
                                    <input type="text" placeholder="270 Lbs">
                                </div>
                            </div>
                            <div class="cols">
                                <div class="c30">Value</div>
                                <div class="c70">
                                    <input type="num" placeholder="150000000">
                                </div>
                            </div>
                            <div class="cols">
                                <div class="c30">Wage</div>
                                <div class="c70">
                                    <input type="num" placeholder="600000">
                                </div>
                            </div>
                            <div class="cols">
                                <div class="c30 text-overflow">Release Clause</div>
                                <div class="c70">
                                    <input type="num" placeholder="600000000">
                                </div>
                            </div>
                            <div class="submit">
                                <button class="btn btn-block">SUBMIT</button>
                            </div>
                            
                        </div>
                    </form>
                </div>
                <div class="principal">
                    <div class="card">
                        <table>
                            <thead>
                                <tr>
                                    <th class="sm"></th>
                                    <th class="lg">name</th>
                                    <th>age</th>
                                    <th class="sm">ova</th>
                                    <th>pot</th>
                                    <th class="lg">team & contract</th>
                                    <th class="sm" style="text-align: right;">value</th>
                                    <th class="sm" style="text-align: right;">wage</th>
                                    <th class="sm text-overflow">total stats</th>
                                    <th class="sm" style="text-align: right;">hits</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% players.forEach(player =>{%>
                                <tr>
                                    <td>
                                        <figure class="avatar">
                                            <img src="img/<%= player.pic %>">
                                        </figure>
                                    </td>
                                    <td>
                                        <div class="t-national">
                                            <img src="/img/<%= player.national.flag %>">
                                            <a href="profile/<%= player._id %>"><%= player.shortname %></a>
                                        </div>
                                        <div style="margin-top: 12px;">
                                            <a href="#" class="green"><%= player.pos1 %></a>
                                            <a href="#" class="blue"><%= player.pos2 %></a>
                                            <a href="#" class="green"><%= player.pos3 %></a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="tag"><%= player.age %></div>
                                    </td>
                                    <td>
                                        <div class="tag bggreen"><%= player.rating %></div>
                                    </td>
                                    <td>
                                        <div class="tag bggreen"><%= player.potential %></div>
                                    </td>
                                    <td>
                                        <div  class="t-team">
                                            <figure class="avatarTeam">
                                                <img src="/img/<%= player.teaminfo.shield%>">
                                            </figure>
                                            <a href=""><%= player.team %></a>
                                        </div>
                                        <div>
                                            2016 ~ 2024
                                        </div>
                                    </td>
                                    <td>
                                        <div class="tag" style="margin-right:0px; padding-right: 0px;">€<%= player.value %></div>
                                    </td>
                                    <td>
                                        <div class="tag" style="margin-right:0px; padding-right: 0px;">€<%= player.salary %></div>
                                    </td>
                                    <td>
                                        <div>
                                            <form action="delete/<%= player._id%>?_method=DELETE" method="POST">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button type="submit" class="btn-accion">Delete</button>
                                            </form>
                                        </div>
                                    </td>
                                    <td>
                                        <div style="margin-right:0px; padding-right: 0px;">
                                            <button class="btn-accion" style="float: right;">
                                                <a href="edit/<%= player._id%>">Edit</a>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <%})%> 
                            </tbody>
                        </table>
                        <div class="pagination">
                            <button class="btn">next ></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>